.categories-section .container .all-categories .col-category.active{
    background-color: black;
    color: white;
}
.product-information-section .container .col-cart{
    transition: background-color 0.5s ease;
}
.product-information-section .container .col-cart:hover{
    background-color: #1877F2;
    border: none;
}
.product-information-section .container .col-cart:hover svg,
.product-information-section .container .col-cart:hover p{
    color: white;
}
.product-information-section .container .col-cart svg,
.product-information-section .container .col-cart p{
    transition: color 0.5s ease;
}

@media (max-width: 992px){
    .all-information-product{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .all-information-product .container .all-content-information{
        flex-direction: column;
        gap: 20px;
    }
    .all-information-product .container .all-content-information div{
        width: 100%;
    }
    .all-information-product .container .all-content-information .col-information-shipping{
        padding-left: 0px;
        border: none;
    }
}
@media (max-width: 992px){
    .product-information-section .container .section-information-product{
        flex-direction: column;
        width: 100%;
    }
    .product-information-section .container .section-information-product .content-product-information{
        width: 100%;
    }
    .product-information-section .container .section-information-product .content-product-images{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 800px){
    .section-information-product{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .product-information-section{
        margin-top: 0px;
        margin-bottom: 10px;
    }
  /*  .product-information-section .container .section-information-product{
        flex-direction: column;
        width: 100%;
    }
    .product-information-section .container .section-information-product .content-product-information{
        width: 100%;
    }
    .product-information-section .container .section-information-product .content-product-images{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }*/
    .product-information-section .container .section-information-product .content-product-information .titl-product{
        font-size: 15px;
    }
    .product-information-section .container .section-information-product .content-product-information .col-get{
        width: 180px;
    }
}

/*update new changes on responsives mobile*/

@media (max-width: 600px){
    .product-information-section .container .section-information-product .all-images-product .col-main-img{
        width: calc(100% - 60px);
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .product-information-section .container .section-information-product .all-images-product .col-main-img img{
        width: 100%;
        height: 100%;
    }
    .product-information-section .container .section-information-product .all-images-product{
        gap: 10px;
    }
    .product-information-section .container .section-information-product .all-images-product .small-images-product button{
        width: 35px;
        height: 35px;
    }
    .product-information-section .container .section-information-product .all-images-product .small-images-product .all-images-small .col-img{
        width: 70px;
        height: 60px;
    }
    .product-information-section .container .section-information-product{
        gap: 30px;
    }
    .product-information-section .container .section-information-product .content-product-information .col-rates,
    .product-information-section .container .section-information-product .content-product-information .col-payment,
    .product-information-section .container .section-information-product .content-product-information .col-get{
        display: none;
    }
    .product-information-section .container .section-information-product .content-product-information .col-cart{
        width: 160px;
        background-color: #1877F2;
        height: 45px;
    }
    .product-information-section .container .section-information-product .content-product-information .col-price span{
        font-size: 20px;
    }
    .product-information-section .container .section-information-product .content-product-information .col-cart p,
    .product-information-section .container .section-information-product .content-product-information .col-cart svg{
        color: white;
    }
    .product-information-section .container .section-information-product .content-product-information .col-cart p{
        font-size: 15px;
    }
}

@media (max-width: 520px){
    .product-information-section .container .section-information-product .all-images-product .col-main-img{
        width: 100%;
        height: 220px;
        margin-left: auto;
        margin-right: auto;
    }
}



































@media (max-width: 520px){
    .product-information-section .container .col-rates .feedback-p{
        display: none;
    }
    .product-information-section .container .col-share{
        display: none;
    }
}
