.center-header-cart .container .col-wishlist:hover span,
.center-header-cart .container .col-cart:hover span{
    background-color: #FA8232;
}
.center-header-cart .container .col-wishlist:hover svg,
.center-header-cart .container .col-cart:hover svg{
    color: #FA8232;
}
.center-header-cart .container .col-wishlist,
.center-header-cart .container .col-cart{
    transition: background-color 0.5s ease;
}
/*center header cart style*/
@media (min-width: 992px){
    .center-header-cart .container .search-icon,
    .center-header-cart .content-result-search-mobile,
    .center-header-cart .form-search-mobile{
        display: none;
    }
}
@media (max-width: 1300px){
    .center-header-cart .my-deals-p, 
    .center-header-cart .sign-p, 
    .center-header-cart .cart-p {
        display: none;
    }
}
@media (max-width: 1250px){
    .cart-products .container .col-product{
        gap: 40px;
    }
    .center-header-cart .container .content-result-search .all-result-search{
        width: 45%;
    }
}
@media (max-width: 992px){
    .top-header-cart .container{
        justify-content: center;
    }
    .top-header-cart .container .all-text,
    .center-header-cart .container .content-result-search .all-result-search{
        display: none;
    }
    .center-header-cart{
        height: 70px;
    }
    .center-header-cart .container form,
    .center-header-cart .container .col-logo .flash-sale-img,
    .center-header-cart .container .col-deals{
        display: none;
    }
}
@media (max-width: 768px){
    .center-header-cart .container .col-logo h1{
        font-size: 27px;
    }
    .back-heading-cart .container .back-icon{
        width: 50px;
    }
    .back-heading-cart .container .col-heading h1{
        font-size: 35px;
    }
    .back-heading-cart .container .col-heading p{
        font-size: 20px;
    }
}
@media (max-width: 520px){
    .center-header-cart .container .col-logo h1{
        font-size: 22px;
    }
    .back-heading-cart .container .col-back{
        margin-bottom: 20px;
    }
    .back-heading-cart .container .back-icon{
        width: 40px;
    }
    .back-heading-cart .container .share-icon{
        width: 20px;
    }
    .back-heading-cart .container .col-heading h1{
        font-size: 25px;
    }
    .back-heading-cart .container .col-heading p{
        font-size: 17px;
    }
    .cart-products .container .col-product{
        gap: 10px;
    }
    .cart-products .container .col-product .image-title-product{
        gap: 10px;
    }
    .cart-products .container .col-product .image-title-product h2{
        font-size: 10px;
    }
    .cart-products .container .col-product .col-quantity{
        width: 70px;
        height: 35px;
        gap: 5px;
        padding: 3px;
    }
}
@media (max-width: 450px){
    .center-header-cart .container .col-logo{
        gap: 5px;
    }
    .center-header-cart .container .col-logo h1{
        font-size: 18px;
    }
    .center-header-cart .container .sign-in-cart-content{
        gap: 10px;
    }
}
.cart-products .container .col-product{
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
@media (max-width: 768px){
    .cart-products .container .col-product .image-title-product{
        width: 200px;
    }
    .cart-products .container .col-product .image-title-product .image-product{
        min-width: 80px;
        height: 60px;
    }
    .cart-products .container .col-product .image-title-product h2{
        font-size: 13px;
    }
     .cart-products .container .col-product span{
        font-size: 14px;
    }
    .cart-products .container .col-product .delete-product{
        min-width: 20px;
    }
    .cart-products .container .col-product .col-quantity{
        width: 70px;
        height: 30px;
        gap: 5px;
        padding: 3px;
        font-size: 12px;
    }
}
@media (max-width: 600px){
    .cart-products .container .col-product{
        flex-wrap: wrap;
        gap: 0px;
    }
    .cart-products .container .col-product .image-title-product{
        width: 350px;
    }
    .cart-products .container .col-product .content-last{
        margin-left: 100px;
    }
}
@media (max-width: 520px){
    .cart-products .container .col-product .image-title-product{
        width: 250px;
    }
}