.todays-deals-products .container .all-products-deals .col-product{
    width: 250px;
    height: 100%;
}
.todays-deals-products .container .all-products-deals .col-product .content-img-product{
  /*  width: 250px;*/
    height: 200px;
}
.todays-deals-products .container .all-products-deals .col-product .content-img-product .col-img{
    width: 150px;
    height: 100%;
}


@media (max-width: 768px){
   .todays-deals-products{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .todays-deals-products .container .col-heading h1{
        font-size: 18px;
    }
}
@media (max-width: 450px){
    .todays-deals-products .container .col-heading h1{
        font-size: 15px;
    }
}

@media (max-width: 580px){
    .todays-deals-products .container .all-products-deals .col-product{
        width: 200px;
        height: 100%;
    }
    .todays-deals-products .container .all-products-deals .col-product .content-img-product{
    /*  width: 250px;*/
        height: 160px;
    }
    .todays-deals-products .container .all-products-deals .col-product .content-img-product .col-new{
        width: 45px;
    }
    .todays-deals-products .container .all-products-deals .col-product .content-img-product .col-img{
        width: 120px;
        height: 100%;
    }
}

@media (max-width: 520px){
    .todays-deals-products .container .all-products-deals .col-product{
        width: 160px;
        height: 100%;
    }
    .todays-deals-products .container .all-products-deals .col-product .buy-now-btn{
        height: 38px;
        font-size: 12px;
    }
    .todays-deals-products .container .all-products-deals .col-product .content-img-product{
        height: 140px;
    }
    .todays-deals-products .container .all-products-deals .col-product .content-img-product .col-img{
        width: 100px;
        height: 100%;
    }
}