.col-websites{
    position: relative;
}
.col-websites::before{
    content: "";
    position: absolute;
    top: 0;
    left: 15%;
    right: 15%;
    width: 70%;
    height: 1px;
    background-color: rgb(167, 165, 165);
    
}
@media (max-width: 992px){
    .form-subscribe{
        width: 90%;
    }
    .col-websites{
        gap: 20px;
    }
}